node_red/fluxo.json
[
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT hurricane/#",
    "topic": "hurricane/#",
    "qos": "1",
    "datatype": "auto",
    "broker": "hivemq-broker",
    "x": 140,
    "y": 80,
    "wires": [["parse-json"]]
  },
  {
    "id": "parse-json",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 80,
    "wires": [["mk-thingspeak-url"]]
  },
  {
    "id": "mk-thingspeak-url",
    "type": "function",
    "z": "flow1",
    "name": "Build ThingSpeak URL",
    "func": "const apiKey = \"9QJ8QR2D5KJ2GI80\";\nconst cid    = 2975134;\nlet p = msg.payload;\nlet tipo = 1;\nif (p.deviceId === \"possivel_furacao\") tipo = 2;\nelse if (p.deviceId === \"furacao\") tipo = 3;\nmsg.url = `http://api.thingspeak.com/update?api_key=${apiKey}` +\n          `&field1=${p.temperature}` +\n          `&field2=${p.humidity}` +\n          `&field3=${p.pressure}` +\n          `&field4=${tipo}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 80,
    "wires": [["http-request"]]
  },
  {
    "id": "http-request",
    "type": "http request",
    "z": "flow1",
    "name": "ThingSpeak Update",
    "method": "GET",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 750,
    "y": 80,
    "wires": [["debug"]]
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "flow1",
    "name": "Response & Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "x": 950,
    "y": 80,
    "wires": []
  },
  {
    "id": "hivemq-broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "3e1726090cad44fd974b0960714f0f50.s1.eu.hivemq.cloud",
    "port": "8883",
    "clientid": "",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "userProps": "",
    "sessionExpiry": "",
    "tls": "",
    "credentials": {
      "user": "EnzoA",
      "password": "Enzo1ia."
    }
  }
]
